$primary-color: #542e90;
$secondary-color: #fff200;

.singleGift {
  padding-top: 25px;
  border-radius: 7px;
  text-align: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: scroll;
  background-size: cover;
  width: 100%;

  text-decoration: none;

  &:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
    padding-top: 75px;
    h2 {
      font-size: 30px;
      span {
        font-size: 20px;
      }
    }
  }
  h2 {
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
    span {
      margin-top: 2px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
